<div class="form-body">
    <div class="form-group biomes">
        <label>Current Biome</label>
        <div class="form-fields">
            <select name="biome">
                {{#each biomes}}
                    <option value="{{@key}}" {{#if (eq ../biome @key)}}selected{{/if}}>{{this}}</option>
                {{/each}}
            </select>
        </div>
        <p class="notes">Determines weather patterns and temperature ranges.</p>
    <label>Biome Configuration</label>
    <button type="button" data-action="openBiomeEditor">
        <i class="fas fa-hexagon"></i> Open Hex Map Editor
    </button>
    <p class="notes">Edit the weather map and unpredictability settings.</p>
</div>
<hr>
    <label>Enable Visual Effects</label>
    <div class="form-group">
        <div class="form-fields">
            <input type="checkbox" name="enableWeatherEffects" {{#if enableWeatherEffects}}checked{{/if}}>
        </div>
        <p class="notes">Show rain, snow, and cloud effects on the canvas.</p>
    </div>
    <label>Enable Sound Effects</label>
    <div class="form-group">
        <div class="form-fields">
            <input type="checkbox" name="enableWeatherSound" {{#if enableWeatherSound}}checked{{/if}}>
        </div>
        <p class="notes">Play weather sound effects on the environment channel.</p>
    </div>
        <label>Use Celsius</label>
    <div class="form-group">
        <div class="form-fields">
            <input type="checkbox" name="useCelsius" {{#if useCelsius}}checked{{/if}}>
        </div>
        <p class="notes">Display temperatures in Celsius instead of Fahrenheit.</p>
    </div>   
<hr>
<label>Enable Forecasts</label>
    <div class="form-group">
        <div class="form-fields">
            <input type="checkbox" name="enableWeatherForecast" {{#if enableWeatherForecast}}checked{{/if}}>
        </div>
        <p class="notes">Generate and display weather for upcoming days.</p>
    </div>
    <label>Broadcast weather to chat</label>
    <div class="form-group">
        <div class="form-fields">
            <input type="checkbox" name="broadcastWeather" {{#if broadcastWeather}}checked{{/if}}>
        </div>
        <p class="notes">Sends a Message to Chat with the days weather on date change.</p>
    </div>
    <label>Hide Weather Forecasting from players</label>
    <div class="form-group">
        <div class="form-fields">
            <input type="checkbox" name="hideWeatherPlayer" {{#if hideWeatherPlayer}}checked{{/if}}>
        </div>
        <p class="notes">If enabled, weather forecasts will be disabled on the calendar</p>
    </div>
<hr>
    <label>Non Seasonal Aurora</label>
    <div class="form-group">
        <div class="form-fields">
            <input type="checkbox" name="allAurora" {{#if allAurora}}checked{{/if}}>
        </div>
        <p class="notes">Display the Aurora weather effect throughout the year.</p>
    </div>
    <label>Chance for aurora on a clear night</label>
    <div class="form-group">
        <div class="form-fields" style="flex-grow: 1;">
            <range-picker name="auroraChance" value="{{auroraChance}}" min="0" max="1" step="0.05">
            <input type="range" min="0" max="1" step="0.05"><input type="number" min="0" max="1" step="0.05"></range-picker>
        </div>
    </div>
 

</div>


