<div id="oseSplash">
  <div class="splash-container">
    <div class="splash-center">
      <h1>Old-School Essentials Advanced Fantasy</h1>
      <p>Thank you for your purchase!</p>
      <p>
        In this module you will find several compendiums containing the complete Players and Referrees Tomes
        conveniently
        organized and ready for easy import.
      </p>
    </div>

    <h4>This module contains:</h4>
    <ul>
      <li>The complete game rules text.</li>
      <li>13 fantastic classes (acrobat, assassin, barbarian, bard, cleric, druid, fighter, illusionist, knight,
        magic-user, paladin, ranger, thief).
      </li>
      <li>10 classic races (drow, duergar, dwarf, elf, gnome, half-elf, halfling, half-orc, human, svirfneblin).</li>
      <li>Full equipment lists.</li>
      <li>Over 200 weird and wonderful spells (complete cleric, druid, illusionist, and magic-user spell lists).</li>
      <li>All spells imported and ready to drag to sheets.</li>
      <li>Over 300 fearsome monsters.</li>
      <li>Over 300 wondrous magic items.</li>
    </ul>
  </div>
  <div class="splash-check">
    <label>
      <input type="checkbox" name="oseSplashCheck" checked data-dtype="Boolean" />
      <span>Don't Show Again</span>
    </label>
  </div>
</div>
