<div class="calendar-page-form">
  <p>{{localize 'CALENDARIA.PageForm.ConfigurationMessage'}}</p>
  <label>{{localize 'CALENDARIA.PageForm.CalendarId'}}</label>
  <input type="text" name="system.calendarId" value="{{system.calendarId}}">
</div>
